<div class="container-fluid">
	<h1 class="h3 mb-4 text-gray-800">New article</h1>
	<p>Let's have a save button ... edition chooser ... media links ... NOT inside content but as meta data.</p>
	<TuiEditor
	  @height="auto"
	  @minHeight="500px"
	  @previewStyle={{this.previewStyle}}
	  @editType={{this.editType}}
	  @toolbarItems={{this.toolbarItems}}
	  @value={{this.value}}
	  @onChange={{fn (mut this.value)}}/>
</div>