<div class="container-fluid">
	<h1>{{model.length}} articles</h1>

	{{#unless model.length}}
	<p>Surprisingly, zero articles found. Maybe add one? Click somewhere, somewhen.</p>
	{{/unless}}

	<ul>
	{{#each model as |article|}}
	    <li>
	    	<code>Title:</code> <b>{{ article.title }}</b><br/>
	        <code>Body:</code> <i>{{ article.body }}</i><br/>
	        <code>ID:</code> <small>{{ article.id }}</small>
	    </li>
	{{/each}}
	</ul>
</div>

{{outlet}}