<div class="container-fluid h-100">
  <div class="row align-items-center justify-content-md-center h-100">
    <div class="col-sm-8 col-lg-4" id="loginContainer">
      {{#if session.isAuthenticated}}
      You are signed in. Enjoy!
      {{else}}
      <form id="loginForm" {{action 'authenticate' on='submit'}}>
        <div class="form-group">
          <label class="w-100">
            Username {{!-- autofocus blocked here due to https://bugs.chromium.org/p/chromium/issues/detail?id=1046357 --}}
            <Input @value={{identification}} autofocus=true placeholder='enter your username' class='form-control' />
          </label>
        </div>
        <div class="form-group">
          <label class="w-100">
            Password
            <Input @value={{password}} placeholder='enter your password' class='form-control' type='password' />
          </label>
        </div>
        <div class="form-group justify-content-end">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        {{#if errorMessage}}
        <div class="text-center">
          <strong>ERROR</strong>
          <div class="error mx-auto text-sm" data-text={{errorMessage}}>{{errorMessage}}</div>
          <p class="lead text-gray-800 mb-5">¯\\_(ツ)_/¯ Maybe retry?</p>
          <p class="text-gray-500 mb-0">Follow links below to resolve persisting login issues</p>
          <a href="index.html">Forgot password</a> | <a href="index.html">Contact support</a>
        </div>
        {{/if}}
      </form>
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}