<div class="XXXXFIXMEXXXXmodal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">welcome to spn</h5>
      </div>
      {{#if session.isAuthenticated}}
      	You are signed in. Enjoy!
      {{else}}
		  <form {{action 'authenticate' on='submit'}}>
		      <div class="modal-body">
					{{input value=identification placeholder='username' class='form-control'}}
					{{input value=password placeholder='password' class='form-control' type='password'}}
				{{#if errorMessage}}
					<p><strong>Error: <code>{{errorMessage}}</code></strong></p>
				{{/if}}
		      </div>
		      <div class="modal-footer">
		        <button type="submit" class="btn btn-primary">Login</button>
		      </div>
	      </form>
      {{/if}}
    </div>
  </div>
</div>

{{outlet}}