<div class="container-fluid h-100">
  <div class="row align-items-center justify-content-md-center h-100">
    <div class="col-sm-3">
      {{#if session.isAuthenticated}}
      You are signed in. Enjoy!
      {{else}}
      <form id="loginForm" {{action 'authenticate' on='submit'}}>
        <div class="form-group">
          <label class="w-100">
            username
            <Input @value={{identification}} placeholder='enter your username' class='form-control' />
          </label>
        </div>
        <div class="form-group">
          <label class="w-100">
            password
            <Input @value={{password}} placeholder='enter your password' class='form-control' type='password' />
          </label>
        </div>
        {{#if errorMessage}}
        <p><strong>Error: <code>{{errorMessage}}</code></strong></p>
        {{/if}}
        <div class="form-group justify-content-end">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}
